<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OYAAAAAA HEE HE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome TO HERE</h1>
        <nav>
            <ul>
                <li><a href="https://www.youtube.com/">Home</a></li>
                <li><a href="#services">GAME</a></li>
                
            </ul>
        </nav>
    </header>
    <section id="home">
        <h2>Home</h2>
        <P>hey HEY HEY CLICK ME DOWN THERE</P>
        <a href="https://pranx.com/fake-virus/">click me</a>
        
    </section>
    <section id="GAME">
        <h
        <p>here is atest to see what this does</p>
        <h1>here a title test</h1>
        
    </body>
    <section>
        hello
    </section>
    <footer>
        hello
        Bye Bye
    </footer>
